
body{
    background-color: #cccccc;
}
.flex-container{
    display: flex;
    justify-content:center;
    margin-top: 3rem;
}
.form-container{
   background-color: #ffffff;
   padding: 1.74rem;
   width: 650px;
}
h2{
    font-family: 'Playfair Display';
    color:#086DB8;
    margin: 1.34rem 0;
    padding-bottom: 1rem;
}

.form-group{
    display: flex;
    justify-content: space-between;
}

.logo-section{
    display: flex;
    justify-content: flex-end;
}

p{
    position: absolute;
    bottom:10rem;
    color: #ffffff;
    padding:2rem;
    font-size: 20px;
    font-weight: 700;

}

.title{
    display: flex;
    justify-content: end;
    color: #ffffff;
    padding: 1.23rem;
    font-weight: 700;
}

.input, .exp, .edu{
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
    
}

textarea{
    resize: none;
    margin-bottom: 0.74rem;
    padding: 0.37rem;
}
input[type="text"], input[type="email"], input[type="password"], select, .radio{
    width: 300px;
    margin: 0 2rem 0 0;
    padding: 0.63rem 0;
}
.radio{
    margin-top: 0.2rem;
}

.btn{
    display: flex;
    justify-content: end;
    padding: 1rem;
}

button{
    background: #3E53C3;
    color: #ffffff;
    padding: 0.67rem;
    box-shadow: none;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 222px;
}

.image-container{
    background-image: url(https://i.postimg.cc/nrrvPNr5/Group-7.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    width: 100%;
    position: relative;
}

.image-container p{
  position: absolute;
  top: 80%;
}
